.form-edit-profile {
    width: 430px;
    height: 330px;
    background-color: white;
    color: black;
    opacity: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}