.form-edit-profile__full-name {
    width: 83.25%;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000033;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.214;

    color: #000000;
}