.element__header {
    margin: 0;
    margin-left: 21px;
    padding: 23px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.21;

    color: #000000;
}