.element__likeButton_active {
    width: 22px;
    height: 22px;
    margin: 0;
    background-color: transparent;
    border: none;
    background-image: url('../../../../images/like-icon-active.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    bottom: 30px;
}