.profile-info {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .profile-info {
        flex-direction: column;
    }
}
