.form-edit-profile__description {
    width: 83.25%;
    outline: none;
    border: none;   
    opacity: 0.2;
    border-bottom: 1px solid #000000; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.214;
    color: #000000;
}